%h1 Bonjour Aventurier ! Que recherchez-vous?

= form_tag equipments_path, methode: 'get' do
	= hidden_field_tag :name, params[:name]
	= hidden_field_tag :item, params[:item]
	= hidden_field_tag :location, params[:location]
	= hidden_field_tag :material, params[:material]
	= hidden_field_tag :price, params[:price]
	= hidden_field_tag :level, params[:level]
