%h1 Bonjour Aventurier ! Que recherchez-vous?



%table
	%thead
		%tr
			%th
				Nom
			%th
				Item
			%th
				Matiere	
			%th
				Emplacement
			%th
				Prix
			%th
				Niveau
			%th
				Bonus	
	%tbody
		- @equipments.each do |e|
			%tr
				%td
					= e.name
				%td
					= e.item
				%td
					= e.material
				%td
					= e.location
				%td
					= e.price
				%td
					= e.level
				%td
					= e.bonus