%h1 Modification de l'élément #{@equipment.name} :

= form_for(@equipment) do |f|
	- if @equipment.errors.any?
		%ul
		- @equipment.errors.each do |message|
			%li.warning= message
	
	= f.label 'Nom :'
	= f.text_field :name
	= f.label 'Item :'
	= f.text_field :item
	= f.label 'Emplacement :'
	= f.text_field :location
	= f.label 'Matière :'
	= f.text_field :material
	= f.label 'Prix :'
	= f.text_field :price
	= f.label 'Niveau :'
	= f.text_field :level
	= f.label 'Bonus :'
	= f.text_field :bonus
	= f.submit 'Modifier', :class => 'btn'

= button_to "Retour", equipments_path, :method => :get, :class => 'btn'
	