%h1= @equipment.name

.panel.panel-primary
	.panel-heading Informations générales
	.panel-body
		%p= "Item: #{@equipment.item}"
		%p= "Emplacement: #{@equipment.location}"
		%p= "Matiére: #{@equipment.material}"
		%p= "Niveau: #{@equipment.level}"
		%p= "Bonus: #{@equipment.bonus}"
		%p= "Prix: #{@equipment.price}"

= button_to "Retour", equipments_path, :method => :get, :class => 'btn'