%h1 Modification de l'aventurier #{@user.nickname} :

= form_for(@user) do |f|
	- if @user.errors.any?
		%ul
		- @user.errors.each do |a, message|
			%li.warning= message

	= f.label 'Aventurier :'
	= f.text_field :nickname
	= f.label 'Niveau :'
	= f.text_field :level
	= f.label 'Butin :'
	= f.text_field :loot
	= f.collection_select :classe_id, Classe.order(:name), :id, :name
	= f.submit 'Modifier', :class => 'btn'

= button_to "Retour", users_path, :method => :get, :class => 'btn'
