%h1 Liste des aventuriers

%table
	%thead
		%tr
			%th
				Nom des aventuriers
			%th
				Niveau
			%th
				Butin
			%th{:colspan => '2'}

	%tbody
		- @users.each do |u|
			%tr
				%td
					= u.nickname
				%td
					= u.level
				%td
					= u.loot
				%td
					= link_to "Modif.", edit_user_path(u), :method => :get
				%td
					= link_to "Suppr.", delete_user_path(u), :method => :post, data: { confirm: 'Voulez vous vraiment supprimer l\'aventurier ?' }

= button_to "Ajouter un aventurier", users_new_path, :method => :get
