%h1 Ajout d'un aventurier

= form_for(@user) do |f|
	- if @user.errors.any?
		%ul
		- @user.errors.each do |a, message|
			%li.warning= message
			
	= f.label 'Aventurier :'
	= f.text_field :nickname
	= f.label 'Niveau :'
	= f.text_field :level
	= f.label 'Butin :'
	= f.text_field :loot
	= f.collection_select :classe_id, Classe.order(:name), :id, :name, include_blank: false
	= f.submit 'Ajouter', :class => 'btn'

= button_to "Retour", users_path, :method => :get, :class => 'btn'
