%h1 Ajout d'un aventurier

= form_for(@user) do |f|
	= f.label 'Aventurier :'
	= f.text_field :nickname
	= f.label 'Niveau :'
	= f.text_field :level
	= f.label 'Butin :'
	= f.text_field :loot
	= f.submit 'Ajouter'

= button_to "Retour", users_path, :method => :get
