.panel.panel-primary
	.panel-heading Mot de Passe oublié?
	.panel-body
		= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
			= devise_error_messages!
			.field
				= f.label :email
				%br/
				= f.email_field :email, autofocus: true
			.actions
				= f.submit "Envoyer le message de réinitialisation"
		= render "devise/shared/links"
