%h1 Liste des classes

%table
	%thead
		%tr
			%th
				Nom des classes
			
			%th{:colspan => '2'}

	%tbody
		- @classes.each do |c|
			%tr
				%td
					= c.name

				%td
					= link_to "Voir.", class_path(c), :method => :get

				%td
					= link_to "Modif.", edit_class_path(c), :method => :get

				%td
					= link_to "Suppr.", class_path(c), :method => :delete, data: { confirm: 'Voulez vous vraiment supprimer cette classe?' }


= button_to "Créer une nouvelle classe", new_class_path, :method => :get
