<!DOCTYPE html>
<html>
<head>
  <title>Armurerie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= button_to "Home" %>
<%= button_to "Aventuriers", users_path, :method => :get %>
<%= button_to "Classes", classes_path, :method => :get %>
<%= button_to "Equipements", equipments_path, :method => :get %>

<%= yield %>

</body>
</html>
