<!DOCTYPE html>
<html>
<head>
  <title>Armurerie</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="navbar navbar-default">
	<div class="collapse navbar-collapse">
    <div class="container">
      <nav>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Aventuriers", users_path %></li>
          <li><%= link_to "Classes", classes_path %></li>
          <li><%= link_to "Equipements", equipments_path %></li>
        </ul>
      </nav>
    </div>
	</div>
</header>

<%= yield %>

</body>
</html>
